/* 通用样式 */
/* 样式重置开始 */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border: 0;
}
/* 样式重置结束 */

body{
    font-size: 0.28rem;
    background-color: #f0efed;
}
.ui-content{
    padding: 0;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
    text-shadow: none;
}



